.error {
    color: red;
    background: rgb(240, 240, 240);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    align-items: center;
}

.update {
    color: green;
    background: rgb(240, 240, 240);
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    width: fit-content;
    align-items: center;
}
